<!DOCTYPE html>
<html>
<head>
    <title>Mxit Emulator</title>
    <meta charset="UTF-8" />

    <%= stylesheet_link_tag "mxit_rails/emulator" %>
    <%= javascript_include_tag "mxit_rails/emulator" %>

    <link rel="icon" type="image/x-icon" href="<%= image_path("mxit_rails/favicon.ico");  %>" />

    <script type="text/javascript">
      MXIT_ROOT = '<%= @root_path %>';
      MXIT_PATH = '<%= @path %>';
    </script>

    <!-- The asset image-path helper isn't working in scss files, so moving those to here. sigh. -->
    <style type="text/css">
      #phone { background: url(<%= image_path("mxit_rails/nokia-5310-frame.png") %>) no-repeat; }
      .go > .icon .image  { background-image: url(<%= image_path("mxit_rails/go.png");  %>) }
      .in > .icon .image  { background-image: url(<%= image_path("mxit_rails/in.png");  %>) }
      .out > .icon .image { background-image: url(<%= image_path("mxit_rails/out.png"); %>) }
      .refresh > .icon .image { background-image: url(<%= image_path("mxit_rails/refresh.png"); %>) }
      .home > .icon .image { background-image: url(<%= image_path("mxit_rails/home.png"); %>) }
    </style>
</head>
<body>

  <div id="controls">
    <div id="default">
      <span id="not-registered">No credentials</span>
      <span id="registered">Mxit Login: <span id="mxit-login"></span></span>

      <a id="unlink" class="go link" onclick="Emulator.clearCredentials()">Clear Credentials <span class="icon"><span class="image"></span></span></a>
      <a id="link" class="go link" onclick="Emulator.enterCredentials()">Set Credentials <span class="icon"><span class="image"></span></span></a>
    </div>

    <div id="phone-links">
      <a id="home" class="home link" onclick="Emulator.home()"><span class="icon"><span class="image"></span></span></a>
      <a id="refresh" class="refresh link" onclick="Emulator.refresh()"><span class="icon"><span class="image"></span></span></a>
      <a id="expand" class="out link" onclick="Emulator.expandCollapse('expand')"><span class="icon"><span class="image"></span></span></a>
      <a id="collapse" class="in link" onclick="Emulator.expandCollapse('collapse')"><span class="icon"><span class="image"></span></span></a>
    </div>
  </div>

  <div id="phone">
    <div id="screen">
      <iframe id="center" class="content" onLoad="Emulator.updateIframe()"></iframe>

      <div id="inputs">
        <div>
          <label for="mxit-id-input">Mxit ID</label>
          <input type="text" placeholder="Mxit ID" id="mxit-id-input" value="m987654321" />
        </div>
        <div>
          <label for="mxit-login-input">Mxit Login</label>
          <input type="text" placeholder="Mxit Login" id="mxit-login-input"/>
        </div>
        <div>
          <label for="mxit-nick-input">Display Name (Nick)</label>
          <input type="text" placeholder="Nickname" id="mxit-nick-input"/>
        </div>
        <div>
          <label for="mxit-distribution-code-input">Distribution Code</label>
          <input type="text" placeholder="Distribution Code" id="mxit-distribution-code-input" value="DISTRO_CODE"/>
        </div>
        <div>
          <label for="mxit-msisdn-input">MSISDN (Cell No)</label>
          <input type="text" placeholder="MSISDN" id="mxit-msisdn-input" />
        </div>

        <a id="save" class="go link" onclick="Emulator.saveCredentials()">Save <span class="icon"><span class="image"></span></span></a>
      </div>
    </div>
    <input id="phone-input" type="text" autocomplete="off" />
  </div>

  <div id="fadeout"></div>

</body>
</html>
