<!DOCTYPE html>
<html>
<head>
    <title>Mxit Emulator</title>
    <meta charset="UTF-8" />

    <%= stylesheet_link_tag "mxit_rails/emulator" %>
    <%= javascript_include_tag "mxit_rails/emulator" %>

    <link rel="icon" type="image/x-icon" href="<%= image_path("mxit_rails/favicon.ico");  %>" />

    <script type="text/javascript">
      MXIT_ROOT = '<%= @root_path %>';
      MXIT_PATH = '<%= @path %>';
    </script>

    <!-- The asset image-path helper isn't working in scss files, so moving those to here. sigh. -->
    <style type="text/css">
      #phone { background: url(<%= image_path("mxit_rails/nokia-5310-frame.png") %>) no-repeat; }
      .go > .icon .image  { background-image: url(<%= image_path("mxit_rails/go.png");  %>) }
      .in > .icon .image  { background-image: url(<%= image_path("mxit_rails/in.png");  %>) }
      .out > .icon .image { background-image: url(<%= image_path("mxit_rails/out.png"); %>) }
      .refresh > .icon .image { background-image: url(<%= image_path("mxit_rails/refresh.png"); %>) }
      .home > .icon .image { background-image: url(<%= image_path("mxit_rails/home.png"); %>) }
    </style>
</head>
<body>

  <div id="controls">
    <div id="default">
      <span id="not-registered">No credentials</span>
      <span id="registered">Mxit ID: <span id="mxit-id"></span></span>

      <a id="unlink" class="go link" onclick="Emulator.clearCredentials()">Clear Credentials <span class="icon"><span class="image"></span></span></a>
      <a id="link" class="go link" onclick="Emulator.enterCredentials()">Set Credentials <span class="icon"><span class="image"></span></span></a>
    </div>

    <div id="phone-links">
      <a id="home" class="home link" onclick="Emulator.home()"><span class="icon"><span class="image"></span></span></a>
      <a id="refresh" class="refresh link" onclick="Emulator.refresh()"><span class="icon"><span class="image"></span></span></a>
      <a id="expand" class="out link" onclick="Emulator.expandCollapse('expand')"><span class="icon"><span class="image"></span></span></a>
      <a id="collapse" class="in link" onclick="Emulator.expandCollapse('collapse')"><span class="icon"><span class="image"></span></span></a>
    </div>
    <div id="inputs">
      <input type="text" placeholder="Mxit ID" id="mxit-id-input" />
      <input type="text" placeholder="MSISDN" id="msisdn-input" />

      <a id="link" class="go link" onclick="Emulator.saveCredentials()">Save <span class="icon"><span class="image"></span></span></a>
    </div>
  </div>

  <div id="phone">
    <div id="screen">
      <iframe id="center" class="content" onLoad="Emulator.updateIframe()"></iframe>
    </div>
    <input id="phone-input" type="text" autocomplete="off" />
  </div>

  <div id="fadeout"></div>

</body>
</html>
