<!DOCTYPE html>
<html>
<head>
    <title>Mxit Emulator</title>
    <meta charset="UTF-8" />

    <%= stylesheet_link_tag "mxit_rails/emulator" %>
    <%= javascript_include_tag "mxit_rails/emulator" %>

    <link rel="icon" type="image/x-icon" href="<%= path_to_image("mxit_rails/favicon.ico");  %>" />

    <script type="text/javascript">
      MXIT_ROOT = '<%= @root_path %>';
      MXIT_PATH = '<%= @path %>';
    </script>

    <!-- The asset image-path helper isn't working in scss files, so moving those to here. sigh. -->
    <style type="text/css">
      #phone { background: url(<%= path_to_image("mxit_rails/nokia-5310-frame.png") %>) no-repeat; }
      .go > .icon .image  { background-image: url(<%= path_to_image("mxit_rails/go.png");  %>) }
      .in > .icon .image  { background-image: url(<%= path_to_image("mxit_rails/in.png");  %>) }
      .out > .icon .image { background-image: url(<%= path_to_image("mxit_rails/out.png"); %>) }
      .refresh > .icon .image { background-image: url(<%= path_to_image("mxit_rails/refresh.png"); %>) }
      .home > .icon .image { background-image: url(<%= path_to_image("mxit_rails/home.png"); %>) }
    </style>
</head>
<body>

  <div id="controls">
    <div id="default">
      <span id="not-registered">No credentials</span>
      <span id="registered">Mxit <span id="mxit-login-id-label"></span>: <span id="mxit-login-id"></span></span>

      <a id="link" class="go link" onclick="Emulator.editCredentials()">Edit Credentials <span class="icon"><span class="image"></span></span></a>
    </div>

    <div id="phone-links">
      <a id="home" class="home link" onclick="Emulator.home()"><span class="icon"><span class="image"></span></span></a>
      <a id="refresh" class="refresh link" onclick="Emulator.refresh()"><span class="icon"><span class="image"></span></span></a>
      <a id="expand" class="out link" onclick="Emulator.expandCollapse('expand')"><span class="icon"><span class="image"></span></span></a>
      <a id="collapse" class="in link" onclick="Emulator.expandCollapse('collapse')"><span class="icon"><span class="image"></span></span></a>
    </div>
  </div>

  <div id="phone">
    <div id="screen">
      <iframe id="center" class="content" onLoad="Emulator.updateIframe()"></iframe>
    </div>
    <input id="phone-input" type="text" autocomplete="off" />
  </div>

  <div id="inputs">
    <a id="clear" class="go link" onclick="Emulator.clearCredentials()">Clear All <span class="icon"><span class="image"></span></span></a>
    <div>
      <label for="mxit-id-input">Mxit ID</label>
      <input type="text" placeholder="m987654321" id="mxit-id-input" />
    </div>
    <div>
      <label for="mxit-login-input">Mxit Login</label>
      <input type="text" placeholder="MxitLogin" id="mxit-login-input"/>
    </div>
    <div>
      <label for="mxit-nick-input">Display Name (Nick)</label>
      <input type="text" placeholder="Nickname" id="mxit-nick-input"/>
    </div>
    <div>
      <label for="mxit-contact-input">Contact</label>
      <input type="text" placeholder="ContactName" id="mxit-contact-input" />
    </div>
    <div>
      <label for="mxit-location-input">Location</label>
      <input type="text" placeholder="ZA,South Africa,11,Western Cape,23,Kraaifontein,88,13072382,8fbe253" id="mxit-location-input" />
    </div>
    <div>
      <label for="mxit-profile-input">Profile</label>
      <input type="text" placeholder="en,ZA,1984-01-01,male,1" id="mxit-profile-input" />
    </div>
    <div>
      <label for="mxit-distribution-code-input">Distribution Code - Only available to authorised apps</label>
      <input type="text" placeholder="DISTRO_CODE" id="mxit-distribution-code-input" />
    </div>
    <div>
      <label for="mxit-msisdn-input">MSISDN (Cell No) - Only available to authorised apps</label>
      <input type="text" placeholder="27820123456" id="mxit-msisdn-input" />
    </div>

    <p>Leave fields blank to set them to the default value</p>
    <a id="save" class="go link" onclick="Emulator.saveCredentials()">Save <span class="icon"><span class="image"></span></span></a>
  </div>

  <div id="fadeout"></div>

</body>
</html>
