<%= mxit_table_row :title %>
<b>Confirm</b>

<%= mxit_table_row %>
<%= mxit_nav_link '/', 'Back' %>

<p>That's it.  Please just confirm your information below:</p>
<p>First name: <b><%= @name %></b></p>
<p>Surname: <b><%= @surname %></b></p>
<p>Age: <b><%= @age %></b></p>
<p>Gender: <b><%= @gender %></b></p>
<p>Dummy variable: <b><%= @dummy %></b></p>
