<%= content_for :title do %>Confirm<% end %>
<%= content_for :navigation do %><%= mxit_nav_link '/mxit/index', 'Back' %><% end %>

<p>That's it.  Please just confirm your information below:</p>
<p>First name: <b><%= @name %></b></p>
<p>Surname: <b><%= @surname %></b></p>
<p>Age: <b><%= @age %></b></p>