<%= mxit_table_row :title %>
<b>Step 2 of 4</b>

<%= mxit_table_row %>
<%= link_to 'Back', '/' %><br /><br />

<a href="/form?reset=true">Reset</a>

Thanks <%= @name %>.  Next we'll need your surname.<br />

First Visit: <%= @first_visit %><br />
