<%= mxit_table_row :title %>
<b>Step 1 of 1</b>

<%= mxit_table_row %>
<%= mxit_nav_link '/', 'Back' %>

<% if mxit_validation_message %>
  <%= mxit_validation_message %>
<% else %>
  <p>You're visiting the templater-in-progress.  It's now <%= @time %>.</p>
  <p>Please enter your cellphone number to proceed</p>
<% end %>

