<!DOCTYPE html>
<html>
<head>
  <title><%= @_mxit.title %></title>
</head>
<body>

<h1><%= @_mxit.title %></h1>
<% if @_mxit.nav_link %>
  <p><%= mxit_link @_mxit.nav_target, @_mxit.nav_link.to_s.capitalize %></p>
<% end %>

<%= yield %>

<% if @_mxit.input %>
  <p><b>&gt; <%= @_mxit.input_label %></b></p>
  <form method="POST" action="<%= @_mxit.url %>">
      <input type="text" name="<%= @_mxit.input %>" />
      <input type="submit" name="_mxit_rails_submit" value="Proceed" />
  </form>

<% elsif @_mxit.proceed %>
  <p><b>&gt; <%= mxit_link @_mxit.proceed, @_mxit.proceed_label.to_s.capitalize, {_mxit_rails_submit: 'Proceed'} %></b></p>
<% end %>

</body>
</html>
