<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Mxit App</title>

  <meta name="mxit" content="no_prefix,show_progress,clear_on_new,no_heading" />

  <% if request.headers['x-mxit-login'].nil? %>
    <!-- Include a CSS file, but only in a browser/emulator, not on mxit -->
    <%= stylesheet_link_tag "mxit_rails/included" %>
    <style type="text/css">
      a:focus { outline: none; <%= mxit_style :link_hover %> }
    </style>
  <% end %>

  <style type="text/css">
    a:hover { <%= mxit_style :link_hover %> }
    a { <%= mxit_style :link %> }
  </style>
</head>

<body style="<%= mxit_style :body %>">

  <%= yield %>

  <% if @_mxit.has_table %>
    <!-- Close the table if there is one -->
      </td></tr>
    </table>
  <% end %>

  <% if @_mxit.input %>
    <%= mxit_proceed @_mxit.input_label %>
    <form method="POST" action="<%= request.path %>">
        <input type="text" name="<%= @_mxit.input %>" />
        <input type="submit" name="_mxit_rails_submit" value="Proceed" />
    </form>

  <% elsif @_mxit.select %>
    <%= mxit_proceed @_mxit.select_label %>
    <% @_mxit.select_options.each do |key, value| %>
    - <%= mxit_link(request.path, value, {_mxit_rails_submit: 'Proceed', @_mxit.select => key}) %><br />
    <% end %>

  <% elsif @_mxit.proceed %>
    <%= mxit_proceed mxit_link(request.path, @_mxit.proceed.to_s.capitalize, {_mxit_rails_submit: 'Proceed'}) %>
  <% end %>

</body>
</html>
