<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Mxit App</title>

  <meta name="mxit" content="no_prefix,show_progress,clear_on_new,no_heading" />

  <% if @_mxit_emulator %>
    <!-- Include a CSS file, but only in a browser/emulator, not on mxit -->
    <%= stylesheet_link_tag "mxit_rails/included" %>
    <style type="text/css">
      .emulator .emoticon { background-image: url(<%= path_to_image("mxit_rails/emoticons.png"); %>) }
      a:focus { outline: none; <%= mxit_style :link_hover %> }
    </style>
  <% end %>

  <style type="text/css">
    a:hover { <%= mxit_style :link_hover %> }
    a { <%= mxit_style :link %> }
  </style>
</head>

<body style="<%= mxit_style :body %>">

  <%= yield %>

  <% if mxit_validation_message %>
    <br /><b><%= mxit_validation_message %></b>
  <% elsif flash[:notice] %>
    <br /><b><%= flash[:notice] %></b>
  <% end %>

  <br />
  <% if @_mxit.input %>
    <% unless @_mxit.input_label.blank? %>
      <%= mxit_proceed @_mxit.input_label %>
    <% end %>

  <% elsif @_mxit.select %>
    <% if @_mxit.multi_select %>
      <% unless @_mxit.select_label.blank? %>
        <%= @_mxit.select_label %><br />
      <% end %>

      <% @_mxit.select_options.each do |value, label| %>
        <%= mxit_select_row label, value, @_mxit.selected.include?(value) %>
      <% end %>

      <%= mxit_proceed link_to(@_mxit.multi_select_next, "#{request.path}?_mxit_rails_submit=true&_mxit_rails_multi_select=#{@_mxit.select}") %>

    <% else %>
      <% unless @_mxit.select_label.blank? %>
        <%= mxit_proceed @_mxit.select_label %>
      <% end %>
      <% @_mxit.select_options.each do |value, label| %>
        <%= mxit_select_row label, value, @_mxit.selected.include?(value) %>
      <% end %>
    <% end %>

  <% elsif @_mxit.proceed %>
    <%= mxit_proceed link_to(@_mxit.proceed.to_s.capitalize, "#{request.path}?_mxit_rails_submit=true") %>
  <% end %>


  <% if @_mxit.has_table %>
    <!-- Close the table if there is one -->
      </td></tr>
    </table>
  <% end %>

  <% if @_mxit.input %>
    <!-- The form must be outside the table - put it right at the bottom of the page -->
    <form method="POST" action="<%= request.path %>">
        <input type="text" name="<%= @_mxit.input %>" />
        <input type="submit" name="_mxit_rails_submit" value="true" />
    </form>
  <% end %>

</body>
</html>
